<h1>Create Client</h1>

<form action="/a/clients" method="post" accept-charset="utf-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="text" name="client[name]" id="client_name" placeholder="Name">
  <input type="submit" value="Create Client" class="btn btn-primary btn-sm">
</form>
