<nav class="navbar navbar-default" role="navigation">
<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#">AdItUp!</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Link</a></li>
    <li><a href="#">Link</a></li>
    <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
      <li class="divider"></li>
      <li><a href="#">One more separated link</a></li>
    </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
   <% if user_signed_in? %>
  Welcome back Moneymaker! <%= current_user.email %>!
  <%= button_to("Sign Out","/users/sign_out", :method => :delete,:class=> "btn btn-default") %>
  <% elsif account_manager_signed_in? %>
  Welcome back Madmin!! <%= current_account_manager.email %>
  <%= button_to("Sign Out", "/account_managers/sign_out", :method => :delete, :class=> "btn btn-default") %>
  <% else %>

  <li><a href="/users/auth/facebook">Viewer</a></li>
  <li><a href="/account_managers/sign_up">Ad Agency</a></li>
  <% end %>
  </ul>
</div>
</nav>
